---
layout: default
title: Home
---
<div class="center-section-15">
  <div class="plastic-product-heading">MoldMonitor</div>
</div>
<div class="plastic-button-container">
  <div class="plastic-button-left">
      <!-- sensor icon from: https://thenounproject.com/search/?q=scanner&i=1220323 -->
      <!-- handset icon from: https://thenounproject.com/icon/781546/ -->
      <!-- wifi icon from: https://thenounproject.com/search/?q=wifi&i=89622 -->
    <img class="img-responsive img-center img-product" src="assets/img/mold-monitor-icons.png"></img>
    <div class="txt-gray plastic-product-subheading">
      Cycle count reports and mold slamming notifications direct from mold to your inbox.</div>
  </div>
  <div class="plastic-button-right" style="max-width: 40%;">
    <div class="txt-gray plastic-product-description-txt">
      MoldMonitor protects your molds from over-use and slamming.
    <ul class="plastic-product-ul" style="margin-top: 5%;">
      <li>Fast installation</li>
      <li>Fits any mold, any size</li>
      <li>Connects without wifi</li>
      <li>No training required</li>
    </ul>
    </div>
</div>
</div>
<div class="progress-bar-block">
  <div class="progress">
    <div class="progress-bar progress-bar-danger" style="width: 100%">
    </div>
  </div>
  <div class="panel-group" id="accordion">
    <div class="text-center faq-header"> Frequently Asked Questions</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="text-align: center;">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">How does it work?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"> MoldMonitor is a high-resolution sensor that
        tracks cycle count and alerts you when your mold is slamming.
        Both cycle count reports and slam notifications are sent automatically from the sensor direct to your inbox.
        To do this, MoldMonitor continuously collects and analyzes motion data about the mold and uses built-in wifi to send this information to your email.<br>

       </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How do you install it?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">MoldMonitor attaches to the outside of the mold with a strong magnet,
          and requires a power connection to be run from the molding machine.
          As soon as the sensor is connected, MoldMonitor is online and sensor installation is complete.<br>
          <br>
          When sensor installation is complete, manufacturers will log-in online on our website
          to set cycle count thresholds and tag each MoldMonitor device to specific machines in the factory.
          This keeps the manufacturers in control of often maintenance reminders occur,
          and makes knowing which mold is due for maintenance easy.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Who is it for?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">MoldMonitor is for production, maintenance and technical support staff, who
        who regularly change and service molds. With MoldMonitor, cycle count reports, maintenance reminders, and slamming notifications
        are sent automatically from the sensor to the staff's email inbox. This way, protecting against mold over-use and slamming
        is as easy as checking your email.<area shape="default" coords="" href="#" alt="[object Object]"> </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What happens when molds are changed?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Whenever a mold is changed, simply unplug MoldMonitor and slide the hardware off the mold
          to keep it from being pinched or broken on the tie bars.
          When a new mold installed, simply plug MoldMonitor back in and place it on the mold.</div>
      </div>
    </div>
</div>
<div class="progress-bar-block">
  <div class="progress">
    <div class="progress-bar progress-bar-danger" style="width: 100%">
    </div>
  </div>
{% include product_form-plastic.html %}
</div>
<div class="inline-spacer">
{% include footer.html %}
</div>
