<div class="main">
      <div style="height:50px;"> <!--- TODO: fix this spacing hack -->
      </div>
      <div class="section">
          <a href="index.html"><img src="assets/img/logo.png" class="img-responsive banner" alt="Forward Loop Logo"></a>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-primary" style="width: 100%">
  </div>
</div>
  <!--><div class="progress-bar progress-bar-danger" style="width: 34%">
  </div>
  <div class="progress-bar progress-bar-primary" style="width: 33%">
  </div><!-->
