<footer class="footer footer-transparent">
            <div class="container">
                <div class="social-area text-center">
                    <a class="btn btn-social btn-linkedin btn-simple" href="https://www.linkedin.com/company/forward-loop/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-social btn-angellist btn-simple" href="https://angel.co/forward-loop">
                        <i class="fa fa-angellist"></i>
                    </a><br>
                    <a href="mailto:info@forward-loop.com">info@forward-loop.com</a>
                </div>

                <div class="copyright text-center">
                    &copy; 2018 Forward Loop LLC
                </div>
            </div>
        </footer>
