        <div class="form-email-product">
            <h2> Want to Try MoldMonitor?</h2><h4>Tell us a little about yourself</h4>
        <form action="https://formspree.io/sales@forward-loop.com"
      method="POST">
            <br> <label>Name</label>
    <input type="text" name="name">
    <br><label>Email</label>
    <input type="email" name="_replyto">
    <br><br>How many molds does your company use each month?<br>
    <div class="left-radio">
    <input type="radio" name="nmolds" value="?" checked> Prefer not to say<br>
  <input type="radio" name="nmolds" value="1-10"> 1-10<br>
  <input type="radio" name="nmolds" value="11-50"> 11-50<br>
  <input type="radio" name="nmolds" value="50+"> 50+
    </div><br><br>
    <input type="submit" value="Send">
</form>
</div>
