<div class="form-email-product">
  <h2> Want to build sensor applications<br>faster and in your preferred language?</h2><h4>Pre-Order Now!</h4>
  <form action="https://formspree.io/sales@forward-loop.com" method="POST">
    <br> <label>Name</label>
      <input type="text" name="name">
    <br><label>Email</label>
      <input type="email" name="_replyto">
    <br><br>Which best describes you?<br>
    <div class="left-radio">
      <select name="Background" name="devprof">
    <option value="developer">Developer</option>
    <option value="maker">Maker</option>
    <option value="other">Other</option>
    <option value="prefer-not-to-say">Prefer not to say</option>
  </select>
    <br><br>Which Orange Pi Zero would you prefer?<br>
  <select name="orange-pi" name="orange-pi">
    <option value="512ram">Orange Pi Zero with 512MB RAM</option>
    <option value="256ram">Orange Pi Zero with 256MB RAM</option>
    </select>
      <br><br>Would you like integrated GSM module and IMU sensor?<br>
    <select name="peripherals" name="peripherals">
      <option value="both">Yes, both</option>
      <option value="gsm">Only GSM module</option>
      <option value="imu">Only Inertial mass unit sensor</option>
      </div>
    </select>
    <br><br>
    <input type="submit" value="Send">
  </form>
</div>
